<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.soil.admin.mapper.AdminMapper">

    <!-- insert user -->
    <insert id = "insert" parameterType="com.soil.admin.bean.Admin">
        INSERT INTO tb_admin(adAccount,adPassword,adName) VALUES(#{account,jdbcType=VARCHAR},#{password,jdbcType=VARCHAR},#{name,jdbcType=VARCHAR})
    </insert>

    <!-- update user -->
    <update id="updateName" parameterType="com.soil.admin.bean.Admin">
        UPDATE tb_admin SET adName=#{name,jdbcType=VARCHAR}  WHERE adId=#{id,jdbcType=INTEGER}
    </update>

    <update id="updatePassword" parameterType="com.soil.admin.bean.Admin">
        UPDATE tb_admin SET adPassword=#{password,jdbcType=VARCHAR}  WHERE adId=#{id,jdbcType=INTEGER}
    </update>

    <!-- find user -->
    <select id="findByAc" parameterType="java.lang.String" resultType="com.soil.admin.bean.Admin">
        select
        adId as id,adAccount as account,adPassword as password,adName as name
        from
        tb_admin
        where adAccount = #{account,jdbcType=VARCHAR}
    </select>

    <!-- delete user -->
    <delete id="deleteById" parameterType="java.lang.Integer">
        delete from tb_admin
        where adId = #{id,jdbcType=INTEGER}
    </delete>

    <select id="selectById" parameterType="java.lang.Integer" resultType="com.soil.admin.bean.Admin">
        select
        adId as id,adAccount as account,adName as name
        from
        tb_admin
        where adId = #{id,jdbcType=INTEGER}
    </select>

    <select id="selectAdmins" resultType="com.soil.admin.bean.Admin">
        select
        adId as id,adAccount as account,adName as name
        from
        tb_admin
        where
        adName like concat('%',#{name},'%')
        and
        adAccount like concat('%',#{account},'%')
    </select>
    
    <select id="findById" resultType="com.soil.admin.bean.Admin">
         select
        adId as id,adAccount as account,adName as name
        from
        tb_admin
        where adId = #{id,jdbcType=INTEGER}
    </select>
</mapper>